/*********************UNIVERSAL*********************/
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #454145;
    margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {

}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  border: 3px solid limegreen;
}

.mobile {
  display: none;
}

a,
.logo img {
  transition: all 0.25s ease-in-out 0.1s;
}

.button-transition:hover {
  font-weight: bold;
  color: white;
  background-color: #F905ED;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #454145;
}

.image-transition:hover {
  font-weight: bold;
  height: 2.5rem;
  color: white;
  background-color: #F905ED;
  margin: 0.75rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #454145;
}


/*********************HEADER*********************/
header {
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
  border: 1px solid purple;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid blue;
  font-weight: bold;
  letter-spacing: 0.1rem;
  height: 4rem;
}

.logo.image-container {
  border: 0.5px solid red;
}

.logo.image-container img {
  height: 2rem;
  margin: 1rem 0.1rem 1rem 1.5rem;
}

.color2 {
  color: #f905ed;
}

nav {                                                   /*DELETE THIS*/
  border: 1px solid orange;
}

.menu {
  display: flex;
}

.menu li {
  padding-right: 1rem;
}

#last-menu-item {
  padding-right: 0.5rem;
}

/*********************HEADER: RESPONSIVE DESIGN*********************/
/*@media only screen and (max-width: 768px) {

}*/

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile img {
    height: 3rem;
  }
  .logo.image-container {
    display: none;
  }
  .logo {
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
}

/*@media only screen and (max-width: 480px) {

}*/

/*********************BANNER*********************/
.banner {
  display: flex;
  background-color: #ffedfe;
}

.banner-image-container {
  max-width: 60%;
  padding: 2rem 2.5rem 2rem 2rem;
}

.banner-text {
  display: flex;
  align-content: center;
  padding-right: 1.5rem;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text-spacing {
  padding: 0.75rem 0;
}

.banner-button {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  width: 50%;
  text-align: center;
  background-color: #fdabf9;
  margin-top: 0.75rem;
  color: #454145;
  font-size: 1.25rem;
  font-weight: 900;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #454145;
  padding: 0.5rem 0;
}
.banner-button {
  padding: 0.5rem 1rem;
}
/*********************BANNER: RESPONSIVE DESIGN*********************/
@media only screen and (max-width: 960px) {
  h1 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 700px) {
  .banner-button {
    width: 9rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
  .banner-image-container {
    background-color: #f905ed;
    max-width: 100%;
    height: 11.25rem;
  }
  .banner-text {
    padding: 2rem 1rem;
  }
  .banner-text-spacing {
    padding: 0;
  }
  .banner-text-container h3 {
    padding: 2rem 0 1.5rem 0;
  }
  .banner-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}


@media only screen and (max-width: 480px) {

}

/*********************MAIN*********************/



/*********************MAIN: RESPONSIVE DESIGN*********************/
@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 480px) {

}



/*********************COURSES*********************/


/*********************COURSES: RESPONSIVE DESIGN*********************/
@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 480px) {

}



/*********************THESIS*********************/


/*********************THESIS: RESPONSIVE DESIGN*********************/
@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 480px) {

}


/*********************FOOTER*********************/


/*********************FOOTER: RESPONSIVE DESIGN*********************/
@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 480px) {

}
